@model OnlineShop.ViewModels.HomeItemVM;

<div class="container">
    <div class="text-center">
        <button class="customed-button filter-button" data-filter="all">All</button>
        @foreach(var category in Model.Categories)
        {
            <button class="customed-button-light filter-button" data-filter="@category.Code">@category.Name</button>
        }
        <br/>
        <div class="grid-wrapper">
            @foreach(var item in Model.Items)
            {
                <partial name="_ItemCard" model="item" />       
            }
        </div>

    </div>
</div>
