@model IEnumerable<Size>

<div class="container pt-5">
    <div class="custom-row">
        <div>
            <h2>Size List</h2>
        </div>

        <div>
            <a asp-controller="Size" asp-action="Create" class="customed-button"><img src="~/assets/plus.png" class="edit-icon inverted">Add new size</a>
        </div>
    </div>

    <br /><br />

    <div class="frame">
          @if (Model.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var size in Model)
                {
                    <tr>
                        <td width="50%">@size.Name</td>
                         <td>
                              <a asp-controller="Size" asp-route-Id="@size.Code" asp-action="Edit" title="edit"><img src="~/assets/edit.png" class="edit-icon"></a>
                              <a asp-controller="Size" asp-route-Id="@size.Code" asp-action="Delete" title="delete"><img src="~/assets/delete.png" class="edit-icon"></a>
                         </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p >No sizes</p>
    }
    </div>
</div>
@section Scripts {
    @{<partial name="_Alert"/>}
}